a.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #336633;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #100;
  background: linear-gradient(#CCFFCC, #99CC99 48%, #66CC66 52%, #669966);
  padding: 3px 10px 3px 10px;
  margin: 1px 5px 1px 0px;
  font-size: 14px;
}

a.button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

