.header_infosearch_wrapper {
  float: left;
  width: 74%;
  overflow: hidden;
}

.infosearch_left_wrapper {
  float: left; 
  overflow: hidden;
  width: 52%;
}

.infosearch_clinic {
  overflow: hidden;
  padding: 3% 0% 3.5% 0%;
}

.infosearch_clinic img {
  max-width: 100%;
}

.infosearch_banner {
  overflow: hidden;
  width: 100%;
  border-radius: 5%;
  height: 14.3%;
}

.infosearch_banner img {
  max-width: 100%;
}

.infosearch_right_wrapper {
  float: right; 
  overflow: hidden;
  width: 48%;
}

.infosearch_righttop {
  overflow: hidden;
}

.infosearch_righttop_sitename {
  float: left; 
  overflow: hidden;
 // margin: 0% 8% 0% 1%;
  width: 50%;
}

.infosearch_righttop_sitename img {
  max-width: 100%;
}

.infosearch_righttop_phonetimebutton {
float: left; 
  overflow: hidden;
  font-size: 100%;
width: 50%;
}

.infosearch_righttop_phonetime {
  overflow: hidden;
overflow: hidden;
  margin: 1.5% 0% 0% 0%;
text-align: right;
}

.infosearch_righttop_phone {
  font-style: italic;  
  overflow: hidden; 
  font-size: 120%; 
}

.infosearch_righttop_time {
  overflow: hidden; 
  font-size: 80%;
}

.infosearch_righttop_button {
  overflow: hidden;
  text-align: right; 
  margin: 3% 0% 3% 0%; 
}

.infosearch_rightbottom {
  overflow: hidden;
}

.infosearch_rightbottom_mapaddress {
  padding: 3% 0% 0% 0%; 
  overflow: hidden;
  font-size: 91%;
}

.infosearch_rightbottom_address {
  font-style: italic;
  font-size: 125%;
}

.infosearch_rightbottom_map {
  float: right;
  font-size: 125%;
margin: 0% 0% 1.5% 0%;
}

.infosearch_rightbottom_search {
  overflow: hidden;
}

