* {margin: 0; padding: 0;} /* обнуляем отступы */

html,body {
  height: 100%; /* задаем высоту тела документа */
}


body {
  background: #fff;
}

.wrapperpage { /* основной блок, который должен растянуться до подвала */
  background: #999; /* цвет фона основного блока (для наглядности) */
  min-height: 100%; /* задаем минимальную высоту основного блока */
}


* html .wrapperpage { /* хак для ie6 */
  height: 100%; /* для ие6, т.к. не понимает min-height */
}

.header {
}

.header_top {
  height: 100px;
  overfow: hidden;
}


.header_info_search {
}
.header_site_name {
}
.header_address {
}
.header_time_phone {
  overflow: hidden;
}
.header_time {
  float: left;
  background-color: none;
}
.header_phone {
  float: left;
  background-color: none;
}

.header_logo {
  float: left;
  background-color: none;
  width: 8%;
  overflow: hidden;
}
.header_info_search {
  float: left;
  background-color: silver;
  width: 65%;
  border-radius: 15px;
  padding-right: 10px;
  padding-top: 2px;
  margin-left: 10px;

}

.header_site_name {
  background-color: none;   
  font-size: 20px;
  
}

.header_block_auth {
  float: left;
  background-color: silver;
  border-radius: 15px;
  width: 23%;
  margin-left: 10px;
  margin-tom: 10px;
}

.header_block_auth {
  overflow: hidden;
}
.block_auth_login {
}
.block_auth_password {
}
.block_auth_submit {
}
.block_auth_reg_forgot {
  overflow: hidden;
}
.block_auth_forgot {
  float: left;
  padding: 0px 25px 0px 0px;
}
.block_auth_reg {
  float: left;
}

.header_bottom {
}

.maincontent {
  background-color: none;
  padding: 20px;
  overflow: hidden;
}

.doctors_block {
  background-color: grey;
  float: left;
  width: 600px;
  overflow-y: hidden;
  height: 385px;
}

.doctors_block_name {
  background-color: #cccc99;
  text-align: center;
}

.doctors_block_content {
  margin: 10px;
  overflow: hidden;
  overflow-x:hidden;
  overflow-y:scroll;
  height: 330px;

}

.doctors_specialization {
  background-color: none;
  overflow: hidden;
}

.doctors_specialization_name {
  background-color: #FFCC66;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-left: 40px;
  border-radius: 15px 15px 0px 0px;
}
.doctors_specialization_content {
  background-color: #ffff99;
  overflow: hidden;
  margin-right: 20px;
}


.seminars_block {
  background-color: green;
  height: 150px;  
  float: right;
  width: 600px;
  overflow: hidden;
}

.seminars_block_name {
  background-color: lime;
  text-align: center;
}

.seminars_block_content {
  background-color: indigo;
}

.footer { /* подвал */
  background: #0000CC; /* цвет фона подвала (для наглядности) */
  color: #fff;
  height: 40px; /* высота подвала */
  margin-top: -40px; /* делаем отрицательный отступ по высоте равный высоте подвла, чтобы четко вписаться в размер экрана */
}



/* ------------------------------------ Main Menu ----------------------------------- */

#menu
{
        width: 100%;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        background: #111;
        background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
        background: -webkit-linear-gradient(#444, #111);
        background: -o-linear-gradient(#444, #111);
        background: -ms-linear-gradient(#444, #111);
        background: linear-gradient(#444, #111);
        -moz-border-radius: 50px;
        border-radius: 50px;
        -moz-box-shadow: 0 2px 1px #9c9c9c;
        -webkit-box-shadow: 0 2px 1px #9c9c9c;
        box-shadow: 0 2px 1px #9c9c9c;
}

#menu li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
        line-height: 0;
}

#menu a
{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
        color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
        color: #fafafa;
}

#menu li:hover > ul
{
        display: block;
}


/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul
{
  top: 0;
  left: 150px;
}


#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
        height: 10px;
        width: 130px;
        height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
        text-transform: none;
}

*html #menu ul a /* IE6 */
{
        height: 10px;
}


*:first-child+html #menu ul a /* IE7 */
{
        height: 10px;
}

#menu ul a:hover
{
    background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}


#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec;
    border-bottom-color: transparent;
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}


/* Clear floated elements */
#menu:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */







.searchform {
 display: inline-block;
 zoom: 1;
 *display: inline;
 border: solid 1px #d2d2d2;
 padding: 3px 5px;
 
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius: 2em;
 
-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
 -moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
 box-shadow: 0 1px 0px rgba(0,0,0,.1);
 
background: #f1f1f1;
 background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
 background: -moz-linear-gradient(top, #fff, #ededed);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
 font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
 background: #fff;
 padding: 6px 6px 6px 8px;
 width: 550px;
 border: solid 1px #bcbbbb;
 outline: none;
 
-webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius: 2em;
 
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
 -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
 box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
 color: #fff;
 border: solid 1px #494949;
 font-size: 11px;
 height: 27px;
 width: 27px;
 cursor: pointer;
 text-shadow: 0 1px 1px rgba(0,0,0,.6);
 
-webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius: 2em;
 
background: #5f5f5f;
 background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
 background: -moz-linear-gradient(top, #9e9e9e, #454545);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
 
