.search {
  overflow: hidden; 
  padding: 0.5%; 
  float: left; 
  width: 98.5%;
  border: 1px black solid; 
  overflow: hidden;
}

.search input {
  width: 95%; 
}

.search img {
  float: right; 
  cursor: pointer; 
  overflow: hidden;
}
