.search {
  overflow: hidden; 
  padding: 0.5%; 
  float: left; 
  width: 50%;
  border: 1px black solid; 
  overflow: hidden;
background-color: brown;
}

.search input {
  width: 93%; 
}

.search img {
  float: right; 
  cursor: pointer; 
  overflow: hidden;
}
